
html, 
body {
    background-image: "assets/images/Background-pattern.jpg";
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

footer,
.push {
    height: 50px;
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.container {
    width: 960px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
h1 {
    border-bottom: 2px solid #dddddd;
    color: #4aaaa5;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px 30px 30px 50px;
    text-align: left;  
    margin: 0;
}
.left {
    background-color: #4aaaa5;
    color: white;
    display: inline-block;
    padding: 25px;
    font-size: 40px;
}

nav {
    float: right;
    display: inline-block;
    padding: 20px;
    color: black;
    font-size: 20px;
}

nav a {
    float: left;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    border-right: 1px solid #777777;
}
  
nav a:hover {
    background-color: #4aaaa5;
    color: black;
  }
  
nav a.active {
    background-color: #4aaaa5;
    color: red;
  }

nav a:last-child { 
    border-right: 0
}

main {
    width: 960px;
    margin: 40px auto 40px auto;
    background-color: #ffffff;
    border: 1px solid #dddddd;

}

/*.container2 {
    color: #4aaaa5;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px 20px 20px 50px;
    text-align: left;  
}*/

.img-responsive {
    float: left;
    padding: 40px 40px 20px 40px;
}

p {
    line-height: 1.5;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px 40px 20px 40px;
    text-align: justify;
    color: #777777;    
}

/*sticky footer, wrapper is up top*/
footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
/* for contact html*/
.Forms {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #777777;
    padding: 0 20px 20px 20px;
}

#contact {
    color: #4aaaa5;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px 20px 20px 50px;
    text-align: left;
}

input {
    font-size: 16px;
    padding: 10px;
    width: 900px;

}
#message {
    font-size: 16px;
    padding: 10px;
    width: 900px;
    height: 100px;

}

.submit {
    width: 70px;
    background-color: #4aaaa5;
    color: white;

}

/* portfolio.html*/
#portfolio {
    color: #4aaaa5;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px 20px 20px 50px;
    text-align: left;
}

.projects {
    width: 960px;
    height: 1000px;
    background-color: white;}

.projects img {
    width: 350px;
    height: 250px;
    padding:20px;
}

.p1,
.p2,
.p3,
.p4,
.p5 { 
    /*width: 350px;
    height: 250px;*/
    z-index: 1;
    position: relative;
    margin: 20px;
    float: left;
}

.banner1,
.banner2,
.banner3,
.banner4,
.banner5 {
    position: absolute;
    background-color: #4aaaa5;
    height: 80px;
    width: 350px;
    margin:20px;
    top:55%;
    z-index:2;
}

h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-align: center;
    /* padding: 5px; */
}
