* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ececec;
    font-family: 'Quicksand', sans-serif;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -60px;
}

footer,
.push {
    height: 70px;
}

header {
    background-color: #ffffff;
    overflow: auto;
    border-bottom: 2px solid #dedede;
    height: 90px;
    margin-bottom: 40px;
    font-family: 'Ubuntu', sans-serif;
}

.left {
    float: left;
    background-color: #4aaaa5;
    color: #fff;
    padding: 22px 15px 0 15px;
    font-size: 36px;
    font-weight: bold;
    height:88px;
    text-decoration: none;
    text-align: center;

}

nav {
    float: right;
    padding: 34px 10px 0 10px;
    font-size: 16px;
    font-family: Quicksand, sans-serif;
}

nav a {
    color: #666;
    padding: 2px 20px;
    text-decoration: none;
    border-right: 1px solid #666;
    
}
  
nav a:hover {
    background-color: #4aaaa5;
    color: white;
  }
  
nav a.active {
    background-color: #4aaaa5;
    color: gray;
  }

nav a:last-child { 
    border-right: none;
}

.container {
    width: 960px;
    margin: 0 auto;
    clear: both;  
}

.main-container {
    padding: 30px;
    background-color: #fff;
    height: calc(100vh - 210px);
    border: 1px solid #dedede;
    overflow: auto;
    font-family: Quicksand, sans-serif;
}

.main-container h1 {
    border-bottom: 2px solid #dedede;
    color: #4aaaa5;
    font-size: 32px;
    padding: 20px;
    margin: 0 10px;
}


.main-container img {
    float: left;
    margin: 20px 30px 10px 10px;
}

.main-container p {
    line-height: 30px;
    font-size: 18px;
    color: #777777;  
    padding: 10px;  
}

main {
    min-height: calc(100vh -90px);
    margin: auto auto 20px auto;
}


/*sticky footer, wrapper is up top*/
footer {
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    background-color: #555;
    border-top: 6px solid #4aaaa5;
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    height: 50px;
    padding: 20px 0;
}


/* for contact html*/
form {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    line-height: 2;
    color: #777777;
    padding: 10px 20px;
    font-weight: normal;
}

#contact {
    color: #4aaaa5;
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px 20px 20px 50px;
    text-align: left;
}

input {
    font-size: 16px;
    padding: 10px;
    width: 870px;
    color: #DCDCDC;

}
.message {
    font-size: 16px;
    padding: 10px;
    width: 870px;
    height: 100px;
    color: #DCDCDC;

}

button {
    width: 100px;
    height: 40px;
    background-color: #4aaaa5;
    color: white;
    font-size: 18px;

}

button:hover {
    background-color: pink;
}

button:focus {
    background-color: #4aaaa4;
}

button:active {
    background-color: #4aaaa5;
}

/* portfolio.html*/
#portfolio {
    color: #4aaaa5;
    font-size: 32px;
    padding: 20px 20px 20px 50px;
    text-align: left;
}

.projects {
    width: 960px;
    height: 1000px;
    background-color: white;}

.projects img {
    width: 350px;
    height: 250px;
    /*padding:20px;*/
}

.p1,
.p2,
.p3,
.p4,
.p5 { 
    /*width: 350px;
    height: 250px;*/
    z-index: 1;
    position: relative;
    margin: 20px;
    float: left;
}

.banner1,
.banner2,
.banner3,
.banner4,
.banner5 {
    position: absolute;
    background-color: #4aaaa5;
    height: 80px;
    width: 350px;
    margin:10px;
    top:55%;
    z-index:2;
    padding: 10px;
    
}

h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: center;
    padding: 10px;
    font-family: Quicksand, sans-serif;
    /* padding: 5px; */
}
